# Node
frontend/node_modules/
frontend/build/

# Python
backend/__pycache__/
backend/*.pyc
backend/venv/
*.pyc
__pycache__/

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
